

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" style="margin-left: 27rem;" action="/admin/add-Coupen" method="post" enctype="multipart/form-data">
<fieldset style="margin-left: 27rem;">

<!-- Form Name -->
<legend class="text-center">COUPON OFFER</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">COUPON NAME</label>  
  <div class="col-md-4">
  <input id="product_id"  name="name" placeholder="Coupen name" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->


<!-- Text input-->


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_categorie">COUPON CODE</label>
  <div class="col-md-4">
       
       <input type="text" name="code" placeholder="Coupen Code" class="form-control" id="exampleInputPassword1" required>

  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="product_categorie">COUPON OFFER</label>
  <div class="col-md-4">
       
       <input type="text" name="offer" placeholder="Offer percentage" class="form-control" id="exampleInputPassword1" required>

  </div>
</div>


  




<!-- Text input-->



    
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Starting date</label>
  <div class="col-md-4">
  
       <input type="date" name="startDate" placeholder="Starting Date" class="form-control" id="exampleInputPassword1" required>
  </div>
</div>
<!-- File Button --> 


<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Ending date</label>
  <div class="col-md-4">
  
        <input type="date" name="endDate" placeholder="End Date" class="form-control" id="exampleInputPassword1" required>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton"  class="btn btn-primary" type="submit">Submit</button>
  </div>
  </div>

</fieldset>
</form>

<section style="background-color: rgb(255, 255, 255); min-height:100vh;">
  <div class="container " style="padding-left: 200px;">
    
  <div  style="text-align: center; padding-top:10px; text-decoration: underline;" ><h1>All Coupons</h1></div>

    <table class="table table-striped">
      <thead>
        <tr >
          <th scope="col" style="color:#222;">No</th>
          <th scope="col"style="color:#222;">Name</th>
          <th scope="col"style="color:#222;">Code</th>
          <th scope="col"style="color:#222;">Offer</th>
          <th scope="col"style="color:#222;">Start-Date</th>
          <th scope="col"style="color:#222;">End-Date</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each coupons}}
          <tr>
            <th scope="row"style="color:#222;">{{inc @index}}</th>
            <td style="color:#222;">
              {{this.name}}
            </td>

            <td style="color:#222;">{{this.code}}
            </td>
            <td style="color:#222;">
              {{this.offer}}
            </td>
            <td style="color:#222;">
              {{this.startDate}}
            </td>

            <td style="color:#222;">
              {{this.endDate}}
            </td>
            
           
            
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>

</section>


