


<section class="container mt-5">

  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Brand</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each category}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.brand}}</td>
      <td>{{this.category}}</td>
      <td><img style="width: 40px; hieght: 40px;" src="/category-image/{{this._id}}.jpg" alt=""></td>

      <td>
             <a href="/admin/edit-category/{{this._id}}" class="btn btn-primary">Edit</a>
            <a href="/admin/delete-category/{{this._id}}" class="btn btn-danger"
              onclick="return confirm('Are You Want to Delete {{this.name}}?')">delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</section>









