<section style="margin-left: 23rem;">
  <div class="container mt-5">

    <table class="table table-striped table-dark" id="productsTable">
      <thead >
        <tr>
          <th scope="col" >No</th>
          <th scope="col" >Brand</th>
          <th scope="col" >Category</th>
          <th scope="col" >Description</th>
          <th scope="col" >Original price</th>
          <th scope="col" >Offer price</th>
          <th scope="col" >Offer%</th>
          <th scope="col" >Images</th>
          <th scope="col" >Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row" >{{inc @index}}</th>
            <td>
              {{this.brand}}
            </td>

            <td>{{this.category}}
            </td>
            <td>
              {{this.description}}
            </td>
            <td>
              {{this.orginalPrice}}
            </td>

            <td>
              {{this.offerPrice}}
            </td>
            <td>
              {{this.offerpercentage}}
            </td>
            <td><img
                style="width: 50px; hieght: 50px;"
                src="/product-images/{{this._id}}.jpg"
                alt=""
              />

            </td>
            <td>
              <a
                href="/admin/edit-product/{{this._id}}"
                class="btn btn-primary w-"
              >Edit</a>
              <a
                href="/admin/delete-product/{{this._id}}"
                class="btn btn-danger"
                onclick="return confirm('Are You Want to Delete {{this.brand}}?')"
              >delete</a>
            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>

</section>


<script>
   $(function () {
    $('#productsTable').DataTable();
} );
</script>




