<section class="container-fluid" style="background-color: rgb(255, 255, 255);">
  <div class="container-fluid pt-5" style="min-height: 100vh;">
    <div class="row">
      <div class=" co-xxl-6 col-xl-6 col-md-6 col-sm-12 ">
        <div class="zoom mx-auto" id="img-container">

          <img  class="zoom1" src="/product-images/{{product._id}}.jpg">

        </div>
       <div class="flex" style="display: flex;">

         <div class="card mt-3" style="width: 8rem; margin-left:35px">
        <img src="/product-images/{{product._id}}.jpg" class="zoom card-img-top" alt="...">     
        </div>
         <div class="card mt-3" style="width: 8rem; margin-left:35px">
        <img src="/product-images1/{{product._id}}.jpg" class="zoom card-img-top" alt="...">     
        </div>
         <div class="card mt-3" style="width: 8rem;margin-left:35px">
        <img src="/product-images/{{product._id}}.jpg" class="zoom card-img-top" alt="...">     
        </div>

       </div>
        


      </div>
      <div class=" co-xxl-6 col-xl-6 col-md-6 col-sm-12">

        <span class="fs-2 ">{{product.description}}</span>
        <p> <span class="text-success fs-3">₹{{product.offerPrice}}</span><span
            class="text-danger text-decoration-line-through fs-5 ps-3">₹{{product.orginalPrice}}</span> <span
            class="fs-3">{{product.offerpercentage}}%off</span></p>
        <p><span class="fs-5"> Available offers </span><br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Bank Offer10% off on Slice Cards, up to ₹200. On orders
          of ₹1000 and <a href="#" class="text-decoration-none">aboveT&C</a><br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Bank Offer5% Cashback on Flipkart Axis Bank a <a href="#"
            class="text-decoration-none">CardT&C</a> <br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Partner OfferBuy this product and get upto ₹500 off on
          Flipkart Furniture <a href="#" class="text-decoration-none"> Know More</a><br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Partner OfferSign up for Men's card Pay Later and get
          Card worth ₹100* <a href="#" class="text-decoration-none">Know More</a><br>


        <div class="dropdown">
          Available:
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            size
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">small</a></li>
            <li><a class="dropdown-item" href="#">medium</a></li>
            <li><a class="dropdown-item" href="#">large</a></li>
            <li><a class="dropdown-item" href="#">extra large</a></li>
          </ul>
        </div>
        </span>
        </p>


        <div class="text-center">
          <a type="submit"  onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add Cart</a>
        </div>

      </div>

    </div>






 
  

<h1 class="related  " style="padding-top: 200px;">RELATED PRODUCTS</h1>




<section class="section new-arrival">
     
      <div class="product-center">
          {{#each relatedproduct}}
        <div class="product-item">
          <div class="overlay">
            <a href="/view-image/{{this._id}}" class="product-thumb">
              <img src="/product-images/{{this._id}}.jpg" alt="" />
            </a>
          </div>
          <div class="product-info">
            <h3>{{this.Category}}</h3>
            <a href="/add-to-wishlist/{{this._id}}">{{this.brand}}</a>
            <h4><span class="text-danger text-decoration-line-through"> ₹{{this.orginalPrice}}</span> ₹{{this.offerPrice}}</h4>
          </div>
          <ul class="icons">
            <li><a class="add-to-wishlist" href="/add-to-wishlist/{{this._id}}"><i class="bx bx-heart"></i></a></li>
            <li><a href="/view-image/{{this._id}}"><i class="bx bx-search"></i></a></li>
            <li><a  onclick="addToCart('{{this._id}}')"><i class="bx bx-cart"></i></a></li>
          </ul>
        </div> 
        {{/each}}                    
      </div>
    </section>















<script>
        function addToCart(proId){
            $.ajax({
                url:'/add-to-cart/'+proId,
                method:'get',
                success:(response)=>{
                    if(response.status){
                        let count=$('#cartCount').html()
                        count=parseInt(count)+1
                        $("#cartCount").html(count)
                    }
                    
                }
            })
        }
    </script>




<script>
  $(document).ready(function(){
$(".zoom").hover(function(){
    $(".zoom1").attr('src',$(this).attr('src'
    ))

})
})
</script>







<script>




  var options = {
    width: 400,
    height: 500,
    zoomWidth: 400,
    offset: { vertical: 0, horizontal: 10 },
    scale: .6,

  }
  new ImageZoom(document.getElementById("img-container"), options)


  function change(event) {
    document.getElementById('img-container') = URL.createObjectURL(event.target.files[0])
  }
  function viewImage1(event) {
    document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
  }


</script>



<style>
  #img-container{
    z-index: 2;
  }

</style>


